body {
  background: #dae0e6;
  color: #222222;
  font-family: Arial;
}

div.well {
  height: 250px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container {
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
}

input {
  background-color: white;
  height: 30px;
  margin: 5px;
  border: #abacad 1px solid;
  border-radius: 2px;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.button {
  margin-left: 30%;
  margin-top: 10px;
  background-color: #222222;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 1px rgb(82, 82, 82) solid;
}

.button:hover {
  background-color: #a8a8a8;
  border: 1px #cecece solid;
  color: black;
}

.col-sm-12 {
  background-color: #eeeeee;
  padding: 25%;
  margin: auto;
  border: 1px f8f7f7 solid;
  border-radius: 20px;
}

.post {
  height: 710px;
  width: 640px;
  background-color: white;
  border: rgb(206, 206, 206) 1px solid;
  border-radius: 3px;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  margin-bottom: 10px;
}

.p-img {
  min-height: 600px;
  max-width: 600px;
  max-height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: rgb(206, 206, 206) 1px solid;
  border-radius: 3px;
}

.img {
  text-align: center;
  background-color: white;
  height: 600px;
  width: 600px;
  margin: 5px;
  position: absolute;
  top: 55%;
  left: 49.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: white 1px solid;
  border-radius: 3px;
}

.desc {
  background-color: white;
  padding-left: 20px;
}

.banner {
  background-color: magenta;
  margin-bottom: 10px;
  text-align: center;
}

#button {
  line-height: 12px;
  width: 180px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top: 5;
  right: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.area {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 5px;
  height: 700px;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  border: #222222 1px solid;
}

.drop-area {
  border: 2px dashed transparent;
  padding: 20px;
}

.upload {
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: aqua;
  border: white 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-img {
  max-height: 400px;
  max-width: 500px;
}

/*MENU*/

#mySidenav {
  margin-top: 90px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
}

#mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #413d3d;
  display: block;
  transition: 0.3s;
}

#mySidenav a:hover {
  color: #acacac;
}

@media screen and (max-height: 450px) {
  #mySidenav {
    padding-top: 15px;
  }
  #mySidenav a {
    font-size: 18px;
  }
}

#left {
  background-color: white;
  height: 90px;
  position: fixed;
  z-index: 9999;
  border: #edeff1 1px solid;
  top: 0;
  left: 0;
  width: 100%;
}

.mario {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  color: #222222;
  margin-bottom: 112px;
}

.logo {
  width: 200px;
  position: absolute;
  top: 20px;
  left: 100%;
  transform: translate(-100%);
  color: #222222;
  margin-bottom: 112px;
}

.credit-p {
  font-size: 12px;
  color: #413d3d;
  font-style: oblique;
}

.post-wrap {
  margin-top: 112px;
}

/*Mario Desk*/
.desk {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  width: 256px;
  height: 256px;
}

/* SMOKE */
#smoke-1 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s ease infinite;
}

#smoke-2 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s 0.5s ease infinite;
}

@keyframes smoke {
  0% {
    stroke-dasharray: 0, 10;
  }
  50% {
    stroke-dasharray: 10, 0;
  }
  100% {
    stroke-dasharray: 10, 0;
    opacity: 0;
  }
}

/* WRITING */
#line-1 {
  opacity: 0;
  animation: writing 0.5s linear forwards;
}

#line-2 {
  opacity: 0;
  animation: writing 0.5s 1s linear forwards;
}

#line-3 {
  opacity: 0;
  animation: writing 0.5s 1.5s linear forwards;
}

#line-4 {
  opacity: 0;
  animation: writing 0.5s 2s linear forwards;
}

@keyframes writing {
  0% {
    width: 0px;
    opacity: 1;
  }
  100% {
    width: 14px;
    opacity: 1;
  }
}

/* Breite der Scrollleiste */
::-webkit-scrollbar {
  width: 12px;
}

/* Track - Hintergrund der Scrollleiste */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Handle - Beweglicher Teil der Scrollleiste */
::-webkit-scrollbar-thumb {
  background-color: #757373;
  border-radius: 6px;
  border: 3px solid #f5f5f5;
}

/* Handle beim Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

footer {
  color: #757373;
  font-size: 13px;
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container {
  position: relative;
  width: 600px;
  margin: 15% auto;
  height: 320px;
  background-color: #45484b;
  top: 50%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: #999999 solid 1px;
}
.container .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .box:before,
.container .box:after {
  content: " ";
  position: absolute;
  left: 152px;
  top: 50px;
  background-color: #1d2020;
  transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
  width: 300px;
  height: 285px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .box:after {
  background-color: #4b4e4e;
  top: -10px;
  left: 80px;
  width: 320px;
  height: 180px;
}
.container .container-forms {
  position: relative;
}
.container .btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 60px;
  color: #fff;
  background-color: #03a9f4;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .btn:hover {
  opacity: 0.7;
}
.container .btn,
.container input {
  padding: 10px 15px;
}
.container input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container .container-forms .container-info {
  text-align: left;
  font-size: 0;
}
.container .container-forms .container-info .info-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container .container-forms .container-info .info-item p {
  font-size: 20px;
  margin: 20px;
}
.container .container-forms .container-info .info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
  width: 100px;
}
.container .container-forms .container-info .info-item .table-cell {
  padding-right: 35px;
}
.container
  .container-forms
  .container-info
  .info-item:nth-child(2)
  .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.container .container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .container-form:before {
  content: "✔";
  position: absolute;
  left: 160px;
  top: -50px;
  color: #5356ad;
  font-size: 130px;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .container-form .btn {
  position: relative;
  box-shadow: 0 0 10px 1px #18ffff;
  margin-top: 30px;
}
.container .form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.container.log-in .box:before {
  position: absolute;
  left: 180px;
  top: 62px;
  height: 265px;
}
.container.log-in .box:after {
  top: 22px;
  left: 192px;
  width: 324px;
  height: 220px;
}
.container.log-in .container-form {
  left: 265px;
}
.container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.container.log-in .container-form .form-item.log-in {
  left: -100%;
  opacity: 0;
}
.container.active {
  width: 260px;
  height: 140px;
  margin-top: -70px;
}
.container.active .container-form {
  left: 30px;
  width: 200px;
  height: 200px;
}
.container.active .container-form:before {
  content: "✔";
  position: absolute;
  left: 51px;
  top: 5px;
  color: #5356ad;
  font-size: 130px;
  opacity: 1;
}
.container.active input,
.container.active .btn,
.container.active .info-item {
  display: none;
  opacity: 0;
  padding: 0px;
  margin: 0 auto;
  height: 0;
}
.container.active .form-item {
  height: 100%;
}
.container.active .container-forms .container-info .info-item {
  height: 0%;
  opacity: 0;
}

.rabbit {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  fill: #fff;
}
