body{
    background: #fafafa;
    color: rgb(0, 0, 0);
    font-family:Arial;
  }
  
  div.well{
    height: 250px;
  } 
  
  .Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  .Absolute-Center.is-Responsive {
    width: 50%; 
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
  }
  
  #logo-container{
    margin: auto;
    margin-bottom: 10px;
    width:200px;
    height:30px;

  }

input {
    background-color: rgb(204, 227, 253);
    height: 30px;
    margin: 5px;
    
}

.button {
    background-color: #222222;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px rgb(82, 82, 82) solid;
    border-radius: 5px;
  }

.button:hover{
    background-color: #a8a8a8;
    border: 1px #cecece solid;
    color: black;
}

.col-sm-12 {
    background-color: #eeeeee;
    padding: 25%;
    margin: auto;
    border: 1px f8f7f7 solid;
    border-radius: 20px;
}

 .post {
  height: 700px;
  width: 640px;
  background-color: red;
  border: white 1px solid;
  border-radius: 20px;
  position: relative;
  left: 50%;
  -ms-transform: translate( -50%);
  transform: translate( -50%);
 }

 
 img{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }

 .img{
  text-align: center;
  background-color: aqua;
  height:600px;
  width: 600px;
  margin:5px;
  position: absolute;
  top: 55%;
  left: 49.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: white 1px solid;
  border-radius: 10px;
 }

 .desc{
  background-color: greenyellow;
  padding-left: 20px;
 }

 .banner{
  background-color: magenta;
  margin-bottom: 10px;
  text-align: center;
 }



 #button {
  line-height: 12px;
  width: 180px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:5;
  right:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.drag {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}